$main-white: #ffffff;
$main-purple-black: #080213;
$second-light-grey: #BCBCBC;
$main-blue: #1A59AE;
$second-grey: #787878;
$main-green: #12D319;
$main-black-1: #1F1F1F;
$third-grey: #DDDDDD;
$main-orange: #F77F5E;



$primary_color:#0F3C73;
$secondary:#005FD2;
$accent:#FF9800;
$negative:#AC1422;
$hover-negative:#E32A3B;
$positive:#27AE60;
$hover-positive:#39D67B;
$green-1:#219653;

$dark:#424242;
$black:#3E3E3E;
$gray-1:#57585A;
$gray-2:#939598;
$gray-3:#BCBDC0;
$gray-4:#EAEAEA;
$link: #0F3C73;
$hover-link-text: #005FD2;
$blue: #6C9BC9;

$background_gray:#F5F7F9;
$hover-background_gray:#E2EDF8;
$background_blue:#F4F8FC;
$background_green:#F3FCF6;
$background_red:#FCF7F3;