@import "color";


.main {
  padding-bottom: 40px;
  &-wrapper{
    &-form{
      margin: 20px;
      border-radius: 70px;
      width: 904px;
      box-shadow: 0 4px 84px 0 rgba(0, 0, 0, 0.15);
      background: $main-white;
      .form{
        padding: 70px 145px;
        align-items: center;
        &-fields{
          width: 100%;
        }
      }
      .error{
        text-align: center;
        padding: 10px 10px;
        color: red;
      }
      .footer-form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        &-inner{
          &:last-child{
            border-left: 1px solid $second-light-grey;
          }
          border-top: 1px solid $second-light-grey;
          padding: 33px;
          font-family: $font-family;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          letter-spacing: -0.02em;
          text-align: center;
          color: $second-grey;
          .link{
            font-weight: 500;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: $main-blue;
          }
        }
      }
    }
    &-lk{
      &-top-wrapper{
        width: 100%;
        background-image: url("/img/bg-lk.svg");
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-columns: 1fr 250px 1fr;
        padding: 45px 30px;
      }
      &-top-mobi{
        display: none;
      }
      &-top-inner{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        &.left{
          align-items: flex-start;
        }
        &.center{
          justify-content: center;
          align-items: center;
        }
        &.right{
          align-items: flex-end;
        }
        .name-and-score{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          .name{
            font-family: $font-family;
            font-weight: 500;
            font-size: 40px;
            color: $main-white;
          }
          .score{
            font-family: $font-family;
            font-weight: 700;
            font-size: 20px;
            width: fit-content;
            color: $main-white;
            background: $main-green;
            border-radius: 10px;
            padding: 5px 15px 5px 15px;
          }
        }
        .profile-img{
          display: flex;
          flex-direction: row;
          justify-content: center;
          position: relative;
          z-index: 5;
          .favorite{
            position: absolute;
            top: 0;
            border-radius: 38px;
            width: 40px;
            height: 40px;
            z-index: 10;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: #0b0129;
            right: -8px;
            &.active{
              svg{
                path{
                  fill: #e2b849;
                }
              }
            }
          }
          img{
            max-width: 190px;
            max-height: 190px;
            border-radius: 30px;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .status-and-edit{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          width: 100%;
          .status{
            font-family: $font-family;
            font-weight: 400;
            font-size: 20px;
            letter-spacing: -0.03em;
            color: $main-white;
          }
          .edit{
            .btn{
              float: right;
              font-size: 12px;
              padding: 12px 15px;
              height: 35px;
            }
          }
        }
      }
      &-tabs{
        #tabs{
          .resp-tabs-list{
            margin: 0px;
            padding: 40px 20px 32px;
            justify-content: center;
            display: flex;
            flex-direction: row;
            gap: 8px;
            overflow: auto;
            li {
              display: inline-block;
              margin: 0 4px 0 0;
              list-style: none;
              cursor: pointer;
              float: left;
              border: 1px solid $main-black-1;
              border-radius: 39px;
              padding: 14px 25px 13px 25px;
              font-family: var(--font-family);
              font-weight: 500;
              font-size: 14px;
              line-height: 110%;
              letter-spacing: -0.05em;
              color: $main-black-1;
              &.resp-tab-active {
                background: linear-gradient(218deg, #fe7062 0%, #ff928e 100%);
                border: 1px solid transparent;
                color: $main-white;
              }
              &.resp-content-active {
                display: block;
                border-bottom: none;
                background-color: #fff;
              }
            }
          }
          .resp-tabs-container {
            padding: 0 30px;
            background-color: #fff;
            clear: left;
          }
          .resp-tab-content {
            display: none;
            .resp-accordion-active {
              display: none;
            }
            .tab_identifier_child{
              justify-content: flex-start;
              &.resp-tabs-list{
                padding:0 0 20px 0;
              }
              &.resp-tabs-container{
                padding: unset;
              }
            }
            .portfolio{
              &-items{
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
                gap: 27px;
              }
              &-item{
                .addPortfolio{
                  width: 100%;
                  border: 2px solid $second-light-grey;
                  border-radius: 20px;
                  background:
                          linear-gradient($second-light-grey,$second-light-grey),
                          linear-gradient($second-light-grey,$second-light-grey);
                  background-position:center;
                  background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
                  background-repeat:no-repeat;
                  cursor: pointer;
                  height: 280px;
                }
                transition: all 0.3s;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;
                max-width: 345px;
                cursor: pointer;
                @media (hover: hover) {
                  &:hover {
                    transition: all 0.3s;
                    scale: 1.01;
                  }
                }
                .img{
                  height: 280px;
                  width: 100%;
                  img{
                    border-radius: 20px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
                font-family: var(--font-family);
                .title{
                  font-weight: 500;
                  font-size: 20px;
                  line-height: 110%;
                  color: $main-black-1;
                }
                .date{
                  font-weight: 400;
                  font-size: 16px;
                  color: $second-grey;
                }
              }
            }
            .activities{
              &-items{
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
                gap: 27px;
              }
              &-item{
                transition: all 0.3s;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;
                max-width: 345px;
                cursor: pointer;
                @media (hover: hover) {
                  &:hover {
                    transition: all 0.3s;
                    scale: 1.01;
                  }
                }
                .img{
                  height: 280px;
                  width: 100%;
                  position: relative;
                  .status{
                    position: absolute;
                    bottom: 20px;
                    left: 15px;
                    border-radius: 6px;
                    padding: 5px 10px;
                    height: 21px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 5px;
                    font-family: var(--font-family);
                    font-weight: 500;
                    font-size: 12px;
                    &.soon{
                      background: $main-green;
                      color: #dbf8dd;
                    }
                    &.near{
                      background: $second-red;
                      color: #dbf8dd;
                    }
                    &.end{
                      background: #e5e5e5;
                      color: #66371a;
                      svg{
                        circle{
                          fill: #66371a;
                        }
                      }
                    }
                  }
                  img{
                    border-radius: 20px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
                font-family: var(--font-family);
                .title{
                  font-weight: 500;
                  font-size: 20px;
                  line-height: 110%;
                  color: $main-black-1;
                }
                .date{
                  font-weight: 400;
                  font-size: 16px;
                  color: $second-grey;
                }
              }
            }
            .favorites{
              display: grid;
              grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
              grid-template-rows: 170px;
              gap: 27px;
              .favorite{
                background: #ececec;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 20px;
                &-inner{
                  &.top{
                    display: grid;
                    grid-template-columns: 1fr 30px;
                    align-items: start;
                    grid-template-rows: repeat(2, auto);
                    font-weight: 500;
                    gap: 8px;
                  }
                  &.bottom{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                  }
                  .name{
                    font-family: var(--font-family);
                    font-size: 18px;
                    line-height: 110%;
                    color: $main-black-1;
                    grid-area: 1 / 1 / 2 / 2;
                  }
                  .desc{
                    font-family: var(--font-family);
                    font-size: 12px;
                    text-decoration-skip-ink: none;
                    color: $second-light-grey;
                    grid-area: 2 / 1 / 3 / 2;
                  }
                  .btn-icon{
                    grid-area: 1 / 2 / 3 / 3;
                    button.icon{
                      cursor: pointer;
                      border: none;
                      background: #ececec;
                      svg{
                        path{
                          transition: all 0.2s;
                          fill: #ececec;
                          stroke: #787878;
                        }
                      }
                      &.active{
                        svg{
                          path{
                            transition: all 0.2s;
                            fill: $main-orange;
                            stroke: $main-orange;
                          }
                        }
                      }
                    }
                  }
                  .city{
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 10px;
                    color: $second-grey;
                  }
                  .more{
                    font-family: var(--font-family);
                    font-weight: 500;
                    font-size: 10px;
                    text-decoration: underline;
                    text-decoration-skip-ink: none;
                    text-align: right;
                    color: $main-purple-black;
                  }
                }
              }
            }
          }
        }
      }
    }
    .information{
      .form{
        &-fields{
          display: flex;
          flex-direction: row;
          gap: 24px;
        }
        &-fields-group{
          width: 100%;
          font-family: var(--font-family);
          display: flex;
          flex-direction: column;
          gap: 24px;
          &-title{
            font-weight: 500;
            font-size: 24px;
            letter-spacing: -0.05em;
            color: $main-black-1;
          }
          &-text{
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            letter-spacing: -0.02em;
            color: $second-grey;
            margin-bottom: 5px;
          }
          .text-field{
            border-bottom: 1px solid $second-light-grey;
            &__input{
              height: 41px;
              border: unset;
              text-align: right;
              font-weight: 500;
              font-size: 17px;
              letter-spacing: -0.03em;
              text-align: right;
              color: $main-black-1;
              padding-right: 0;
            }
          }
        }
      }
    }

    &.edit{
      .information{
        padding: 27px;
        max-width: 1500px;
        width: 100%;
        float: right;
        .form {
          &-fields{
            gap: 140px;
          }
          &-fields-group {
            .text-field {
              margin-top: unset;
            }
          }
        }
      }
    }

    &-events{
      display: flex;
      flex-direction: column;
      gap: 18px;
      padding: 0 20px;
      .title{
        padding-top: 40px;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 60px;
        text-align: center;
        color: $main-black-1;
        line-height: 100%;
      }
      .events{
        display: flex;
        flex-direction: column;
        gap: 40px;
        &-filter{
          .form{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            justify-content: center;
            .checkbox-btn{
              span{
                border-radius: 39px;
                color: $main-black-1;
                border-color: $main-black-1;
              }
              input[type=checkbox]:checked + span{
                border-color: #F77F5E;
                color: #ffffff;
              }
            }
          }
        }
        &-items{
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(291px, 1fr));
          gap: 27px;
        }
        &-item{
          transition: all 0.3s;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;
          max-width: 345px;
          cursor: pointer;
          @media (hover: hover) {
            &:hover {
              transition: all 0.3s;
              scale: 1.01;
            }
          }
          .img{
            height: 280px;
            width: 100%;
            position: relative;
            .status{
              position: absolute;
              bottom: 20px;
              left: 15px;
              border-radius: 6px;
              padding: 5px 10px;
              height: 21px;
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 5px;
              font-family: var(--font-family);
              font-weight: 500;
              font-size: 12px;
              &.soon{
                background: $main-green;
                color: #dbf8dd;
              }
              &.near{
                background: $second-red;
                color: #dbf8dd;
              }
              &.end{
                background: #e5e5e5;
                color: #66371a;
                svg{
                  circle{
                    fill: #66371a;
                  }
                }
              }
            }
            img{
              border-radius: 20px;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          font-family: var(--font-family);
          .author{
            display: grid;
            grid-template-columns: 40px 1fr;
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 2px;
            .img{
              grid-area: 1 / 1 / 3 / 2;
              width: 40px;
              height: 40px;
              border-radius: 10px;
              img{
                border-radius: 10px;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .name{
              grid-area: 1 / 2 / 2 / 3;
              font-family: var(--font-family);
              font-weight: 500;
              font-size: 15px;
              color: $main-black-1;
            }
            .sub-title{
              grid-area: 2 / 2 / 3 / 3;
              font-family: var(--font-family);
              font-weight: 400;
              font-size: 11px;
              color: $second-grey;
            }
          }
          .title{
            padding-top: 0;
            font-weight: 500;
            font-size: 20px;
            line-height: 110%;
            color: $main-black-1;
            text-align: left;
          }
          .date{
            font-weight: 400;
            font-size: 16px;
            color: $second-grey;
            text-align: left;
          }
        }
      }
    }

    &-event-detail{
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 24px 30px;
      &-top{
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
        &-wrapper{
          display: flex;
          flex-direction: column;
          gap: 8px;
          align-items: self-start;
          .title{
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 40px;
            letter-spacing: -0.03em;
            color: $main-black-1;
            line-height: 100%;
          }
          .desc{
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 20px;
            color: $second-grey;
            line-height: 100%;
          }
          .btns{
            display: flex;
            flex-direction: row;
            gap: 15px;
            align-items: center;
            .share{
              padding: 5px;
              border: none;
              background-color: transparent;
              width: 30px;
              height: 30px;
              &:hover{
                svg{
                  path{
                    fill: #fe7062;
                  }
                }
              }
            }
            .btn-favorite{
              margin-top: 0;
              border: none;
              background-color: transparent;
              width: 30px;
              height: 30px;
              .svg{
                display: block;
                svg{
                  width: 30px;
                  height: 30px;
                }
              }
            }
          }
        }
      }
      &-characteristic{
        display: flex;
        flex-direction: column;
        gap: 17px;
        &-item{
          display: flex;
          flex-direction: row;
          gap: 8px;
          align-items: center;
          .name{
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 20px;
            line-height: 100%;
            color: $second-grey;
          }
          .value{
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 20px;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: $main-purple-black;
            line-height: 100%;
          }
        }
      }
      &-desc{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        &-items{
          display: flex;
          flex-direction: column;
          gap: 24px;
          .desc-item-date,.desc-item-point,.desc-item-bonus{
            display: flex;
            flex-direction: column;
            gap: 10px;
           .value{
             font-family: var(--font-family);
             font-weight: 500;
             font-size: 30px;
             line-height: 100%;
             color: $main-black-1;
           }
           .name{
             font-family: var(--font-family);
             font-weight: 400;
             font-size: 17px;
             line-height: 100%;
             color: $second-grey;
           }
          }
        }
        &-about{
          display: flex;
          flex-direction: column;
          gap: 10px;
          .title{
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 30px;
            line-height: 110%;
            color: $main-black-1;
          }
          .text{
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 17px;
            line-height: 100%;
            color: $second-grey;
          }
        }
      }
    }

    &-works{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      padding: 0 20px;
      .title{
        padding-top: 40px;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 60px;
        text-align: center;
        color: $main-black-1;
        line-height: 100%;
      }
      .sub-title{
        max-width: 500px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        letter-spacing: -0.05em;
        text-align: center;
        color: $second-grey;
      }
      .works{
        width: 100%;
        padding-top: 34px;
        display: flex;
        flex-direction: column;
        gap: 80px;
        &-filter{
          width: 100%;
          margin: 0;
          overflow: hidden;
          position: relative;
          .form{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 8px;
            overflow: auto;
            width: 100%;
            .select2-container{
              width: 100% !important;
            }
            .select2-container--default .select2-selection--single{
              border: 1px solid $main-black-1;
              border-radius: 39px;
              padding: 16px 25px 13px 25px;
              width: fit-content;
              height: 51px;
              .select2-selection__rendered{
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 14px;
                color: $main-black-1;
              }
            }
            .select2-container--open .select2-selection--single{
              border: 1px solid $main-orange !important;
              background: $main-orange;
              .select2-selection__rendered{
                color: $main-white;
              }
            }
            .select2-container .select2-selection--single .select2-selection__rendered{
              padding-left: unset;
              padding-right: 10px;
              line-height: 100%;
            }
            .select2-selection__arrow{
              top: 11px;
              right: 10px;
            }
            .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
              border-color: transparent transparent #fff transparent;
            }
          }
        }
        &-items{
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
          gap: 27px;
        }
        &-item{
          background: #ececec;
          border-radius: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 20px;
          gap: 43px;
          &-inner{
            &.top{
              display: grid;
              grid-template-columns: 1fr 30px;
              align-items: start;
              font-weight: 500;
              grid-template-rows: repeat(3, auto);
              gap: 8px;
            }
            &.bottom{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            }
            .name{
              font-family: var(--font-family);
              font-size: 18px;
              line-height: 100%;
              color: $main-black-1;
              grid-area: 1 / 1 / 2 / 2;
            }
            .desc{
              font-family: var(--font-family);
              font-size: 12px;
              text-decoration-skip-ink: none;
              color: $second-light-grey;
              grid-area: 2 / 1 / 3 / 2;
              line-height: 100%;
            }
            .working{
              font-family: var(--font-family);
              font-weight: 400;
              font-size: 10px;
              letter-spacing: -0.05em;
              color: $second-grey;
              grid-area: 3 / 1 / 4 / 2;
              line-height: 100%;
            }
            .btn-icon{
              grid-area: 1 / 2 / 4 / 3;
              button.icon{
                cursor: pointer;
                border: none;
                background: #ececec;
                svg{
                  path{
                    transition: all 0.2s;
                    fill: #ececec;
                    stroke: #787878;
                  }
                }
                &.active{
                  svg{
                    path{
                      transition: all 0.2s;
                      fill: $main-orange;
                      stroke: $main-orange;
                    }
                  }
                }
              }
            }
            .city{
              font-family: var(--font-family);
              font-weight: 400;
              font-size: 10px;
              color: $second-grey;
            }
            .more{
              font-family: var(--font-family);
              font-weight: 500;
              font-size: 10px;
              text-decoration: underline;
              text-decoration-skip-ink: none;
              text-align: right;
              color: $main-purple-black;
            }
          }
        }
      }
    }

  }
}

@media (max-width: 1654px) {
  .main {

  }
}


@media (max-width: 1024px) {
  .main {
    &-wrapper{
      &-lk{
        &-tabs{
          #tabs{
            .resp-tabs-container {
              padding: 40px 30px;
            }
            .resp-tab-content {
              .portfolio{
                &-items{
                  gap: 14px;
                }
                &-item{
                  max-width: 304px;

                }
              }
            }
          }
        }
      }
      .information{
        .form{
          &-fields{
            display: flex;
            flex-direction: column;
            gap: 24px;
          }
        }
      }
      &.edit{
        .information{
          .form{
            &-fields {
              flex-direction: column-reverse;
              gap: 24px;
            }
          }
        }
      }
      &-events {
        .title {
          font-size: 40px;
        }
      }
      &-works {
        .title {
          font-size: 40px;
        }
      }

      &-event-detail{
        &-top{
          &-wrapper{
            .title{
              font-size: 30px;
            }
            .desc{
              font-size: 15px;
            }
          }
        }
        &-characteristic{
          &-item{
            .name{
              font-size: 15px;
            }
            .value{
              font-size: 15px;
            }
          }
        }
        &-desc{
          grid-template-columns: 1fr;
          &-items{
            display: flex;
            flex-direction: column;
            gap: 24px;
            .desc-item-date,.desc-item-point,.desc-item-bonus{
              .value{
                font-size: 24px;
              }
              .name{
                font-size: 15px;
              }
            }
          }
          &-about{
            .title{
              font-size: 24px;
            }
            .text{
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 900px) {
  .main {
    &-wrapper{
      &-form{
        .form{
          padding: 70px;
        }
      }
      &-lk{
        &-top-inner{
          .name-and-score{
            .name{
              font-size: 30px;
            }
          }
        }
        &-tabs{
          #tabs{
            .resp-tabs-container {
              padding: 40px 30px;
            }
            .resp-tab-content {
              .portfolio{
                &-items{
                  gap: 14px;
                }
                &-item{
                  max-width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .main {
    &-wrapper{
      &-lk{
        &-top-inner{
          .name-and-score{
            .name{
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 650px) {
  .main {
    &-wrapper{
      &-form{

        .form{
          padding: 45px;
          &-title{
            font-size: 24px;
          }
          .btn{
            width: fit-content;
            height: 69px;
          }
        }
        .footer-form{
          display: grid;
          grid-template-columns: 1fr;
          &-inner{
            &:last-child{
              border-left: unset;
            }
          }
        }
      }

      &-lk{
        &-top-wrapper{
          width: 100%;
          grid-template-columns: 1fr 120px 1fr;
          padding: 20px 20px;
          height: 160px;
        }
        &-top-mobi{
          display: flex;
          flex-direction: column;
          gap: 9px;
          padding: 16px 20px 24px;
          .name{
            font-family: $font-family;
            font-weight: 500;
            font-size: 24px;
            letter-spacing: -0.03em;
            color: $main-black-1;
          }
          .status{
            font-family: $font-family;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: -0.03em;
            color: $second-grey;
          }
          .edit{
            .btn{
              width: 100%;
              height: 50px;
              font-size: 15px;
              color: $second-grey;
              border-color: $second-grey;
            }
          }
        }
        &-top-inner{
          .name-and-score{
            justify-content: flex-end;
            .name{
              display: none;
            }
            .score{
              font-size: 16px;
            }
          }
          .profile-img{
            .favorite{
              width: 25px;
              height: 25px;
              right: -5px;
              svg{
                width: 12px;
                height: 13px;
              }
            }
          }
          .status-and-edit{
            display: none;
          }
        }
        &-tabs{
          #tabs{
            .resp-tabs-list{
              padding: 10px 20px;
              border-bottom: 1px solid $second-light-grey;
              border-top: 1px solid $second-light-grey;
              justify-content: flex-start;
              &.tab_identifier_child{
                border-bottom: none;
                border-top: none;
              }
              li {

              }
              &::-webkit-scrollbar {
                display: none;
              }
            }
            .resp-tabs-container {
              padding: 40px 20px;
            }
          }
        }
      }

      &.edit{
        .main-wrapper-lk-top{
          .main-wrapper-lk-top-wrapper{
            grid-template-columns: 1fr;
          }
          .main-wrapper-lk-top-inner{
            .name-and-score{
              .name{
                display: block;
              }
            }
          }
        }
      }

      &-events {
        .title {
          font-size: 30px;
        }
      }

      &-works {
        padding: 0 10px;
        .title {
          font-size: 30px;
        }
        .works{
          gap: 32px;
        }
      }

      &-event-detail{
        position: relative;
        padding-bottom: 60px;
        &-top{
          &-wrapper{
            .title{
              font-size: 24px;
            }
            .desc{
              font-size: 12px;
            }
            .btns{
              position: fixed;
              bottom: 0;
              font-size: 15px;
              width: 100%;
              left: 0;
              justify-content: center;
              padding: 10px;
              background-color: #FFFFFF;
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              grid-template-rows: 1fr;
              grid-column-gap: 7px;
              grid-row-gap: 0;
              justify-items: center;
              .share{
                grid-area: 1 / 1 / 2 / 2;
              }
              .btn-favorite{
                grid-area: 1 / 3 / 2 / 4;
              }
              .sign{
                padding: 15px 22px;
                font-size: 14px;
                grid-area: 1 / 2 / 2 / 3;
              }
            }
          }
        }
        &-characteristic{
          &-item{
            .name{
              font-size: 13px;
            }
            .value{
              font-size: 13px;
            }
          }
        }
        &-desc{
          &-items{
            .desc-item-date,.desc-item-point,.desc-item-bonus{
              .value{
                font-size: 18px;
              }
              .name{
                font-size: 12px;
              }
            }
          }
          &-about{
            .title{
              font-size: 18px;
            }
            .text{
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .main {
    &-wrapper{
      &-lk{
        &-top-wrapper{
          width: 100%;
          grid-template-columns: 1fr 100px 1fr;
          height: 160px;
        }
        &-top-inner{
          &.center{
            justify-content: flex-end;
          }
          .name-and-score{
            justify-content: flex-end;
            .score{
              font-size: 14px;
            }
          }
          .profile-img{

          }
        }
      }


      &-event-detail{
        &-top{
          &-wrapper{
            .title{
              font-size: 30px;
            }
            .desc{
              font-size: 15px;
            }
          }
        }
        &-characteristic{
          &-item{
            .name{
              font-size: 13px;
            }
            .value{
              font-size: 13px;
            }
          }
        }
        &-desc{
          grid-template-columns: 1fr;
          &-items{
            display: flex;
            flex-direction: column;
            gap: 24px;
            .desc-item-date,.desc-item-point,.desc-item-bonus{
              .value{
                font-size: 24px;
              }
              .name{
                font-size: 15px;
              }
            }
          }
          &-about{
            .title{
              font-size: 24px;
            }
            .text{
              font-size: 15px;
            }
          }
        }
      }
      &-event-detail{
        padding: 24px 20px 60px;
        &-top{
          &-wrapper{
            .title{
              font-size: 20px;
            }
            .desc{
              font-size: 12px;
            }
          }
        }
        &-desc{
          &-items{
            .desc-item-date,.desc-item-point,.desc-item-bonus{
              .value{
                font-size: 16px;
              }
              .name{
                font-size: 12px;
              }
            }
          }
          &-about{
            .title{
              font-size: 16px;
            }
            .text{
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .main {
    &-wrapper{
      &-lk{
        &-top-wrapper{
          width: 100%;
          grid-template-columns: 1fr 100px;
          height: 160px;
        }
        &-top-inner{
          &.right{
            display: none;
          }
          .name-and-score{
            justify-content: flex-end;
            .name{
              display: none;
            }
            .score{
              font-size: 14px;
            }
          }
          .profile-img{
            justify-content: flex-end;
          }
        }
      }
    }
  }
}



