@charset "UTF-8";
/*variables*/
@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Gotham Pro"), local("Gotham Pro"), url("/fonts/gotham-pro/GothamPro.ttf") format("truetype"), url("/fonts/gotham-pro/GothamPro.woff") format("woff");
}
@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 500;
  src: local("Gotham Pro"), local("Gotham Pro"), url("/fonts/gotham-pro/GothamPro-Medium.ttf") format("truetype"), url("/fonts/gotham-pro/GothamPro-Medium.woff") format("woff");
}
.header {
  width: 100%;
  background-color: #000000;
}
.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.header-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header-inner-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid #FFFFFF;
  height: 100%;
}
.header-inner-menu {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-inner-menu .menu-btn-mobi {
  display: none;
}
.header-inner-menu .menu-wrapper {
  z-index: 1000;
  display: flex;
  flex-direction: row;
}
.header-inner-menu .menu-wrapper-item a {
  transition: all 0.1s;
  font-family: "Gotham Pro", sans-serif;
  font-size: 16px;
  color: #ffffff;
  padding: 22px 20px;
  z-index: 1;
  position: relative;
  line-height: 140%;
}
.header-inner-menu .menu-wrapper-item a:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all 0.1s linear;
  opacity: 0;
  background: linear-gradient(218deg, #fe7062 0%, #ff928e 100%);
}
@media (hover: hover) {
  .header-inner-menu .menu-wrapper-item a:hover::before {
    transition: all 0.1s linear;
    opacity: 1;
  }
}
.header-inner-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
  gap: 16px;
}
.header-inner-profile .status span {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  padding: 7px 33px;
  width: 110px;
  height: 25px;
  background: #dc601b;
}
.header-inner-profile .img {
  width: 46px;
  height: 46px;
  transition: all 0.2s;
}
@media (hover: hover) {
  .header-inner-profile .img:hover {
    transition: all 0.2s;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}
.header-inner-profile .img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1100px) {
  .header-inner-menu .menu-btn-mobi {
    display: flex;
    padding: 20px 15px;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
  }
}
@media (max-width: 1100px) and (hover: hover) {
  .header-inner-menu .menu-btn-mobi:hover {
    transition: all 0.2s;
    transform: scale(1.1);
    cursor: pointer;
  }
}
@media (max-width: 1100px) {
  .header-inner-menu .menu-wrapper {
    display: none;
    position: absolute;
    right: 0;
    width: 320px;
    background-color: #FFFFFF;
    flex-direction: column;
    height: calc(100% - 60px);
  }
  .header-inner-menu .menu-wrapper-item {
    width: 100%;
  }
  .header-inner-menu .menu-wrapper-item a {
    border-bottom: 1px solid #BCBCBC;
    display: flex;
    padding: 22px 10px;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    color: #080213;
  }
}
@media (max-width: 1100px) and (hover: hover) {
  .header-inner-menu .menu-wrapper-item a:hover {
    color: #ffffff;
  }
}
@media (max-width: 768px) {
  .header-inner:first-child {
    width: 100%;
  }
  .header-inner:last-child {
    display: none;
  }
  .header-inner-logo {
    border-right: none;
  }
  .header-inner-menu {
    border-left: 1px solid #FFFFFF;
  }
  .header-inner-menu .menu-btn-mobi {
    width: 58px;
  }
}
.main {
  padding-bottom: 40px;
}
.main-wrapper-form {
  margin: 20px;
  border-radius: 70px;
  width: 904px;
  box-shadow: 0 4px 84px 0 rgba(0, 0, 0, 0.15);
  background: #ffffff;
}
.main-wrapper-form .form {
  padding: 70px 145px;
  align-items: center;
}
.main-wrapper-form .form-fields {
  width: 100%;
}
.main-wrapper-form .error {
  text-align: center;
  padding: 10px 10px;
  color: red;
}
.main-wrapper-form .footer-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main-wrapper-form .footer-form-inner {
  border-top: 1px solid #BCBCBC;
  padding: 33px;
  font-family: "Gotham Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #787878;
}
.main-wrapper-form .footer-form-inner:last-child {
  border-left: 1px solid #BCBCBC;
}
.main-wrapper-form .footer-form-inner .link {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #1A59AE;
}
.main-wrapper-lk-top-wrapper {
  width: 100%;
  background-image: url("/img/bg-lk.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 250px 1fr;
  padding: 45px 30px;
}
.main-wrapper-lk-top-mobi {
  display: none;
}
.main-wrapper-lk-top-inner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main-wrapper-lk-top-inner.left {
  align-items: flex-start;
}
.main-wrapper-lk-top-inner.center {
  justify-content: center;
  align-items: center;
}
.main-wrapper-lk-top-inner.right {
  align-items: flex-end;
}
.main-wrapper-lk-top-inner .name-and-score {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.main-wrapper-lk-top-inner .name-and-score .name {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #ffffff;
}
.main-wrapper-lk-top-inner .name-and-score .score {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 700;
  font-size: 20px;
  width: fit-content;
  color: #ffffff;
  background: #12D319;
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
}
.main-wrapper-lk-top-inner .profile-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  z-index: 5;
}
.main-wrapper-lk-top-inner .profile-img .favorite {
  position: absolute;
  top: 0;
  border-radius: 38px;
  width: 40px;
  height: 40px;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #0b0129;
  right: -8px;
}
.main-wrapper-lk-top-inner .profile-img .favorite.active svg path {
  fill: #e2b849;
}
.main-wrapper-lk-top-inner .profile-img img {
  max-width: 190px;
  max-height: 190px;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main-wrapper-lk-top-inner .status-and-edit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.main-wrapper-lk-top-inner .status-and-edit .status {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.main-wrapper-lk-top-inner .status-and-edit .edit .btn {
  float: right;
  font-size: 12px;
  padding: 12px 15px;
  height: 35px;
}
.main-wrapper-lk-tabs #tabs .resp-tabs-list {
  margin: 0px;
  padding: 40px 20px 32px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
  overflow: auto;
}
.main-wrapper-lk-tabs #tabs .resp-tabs-list li {
  display: inline-block;
  margin: 0 4px 0 0;
  list-style: none;
  cursor: pointer;
  float: left;
  border: 1px solid #1F1F1F;
  border-radius: 39px;
  padding: 14px 25px 13px 25px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: -0.05em;
  color: #1F1F1F;
}
.main-wrapper-lk-tabs #tabs .resp-tabs-list li.resp-tab-active {
  background: linear-gradient(218deg, #fe7062 0%, #ff928e 100%);
  border: 1px solid transparent;
  color: #ffffff;
}
.main-wrapper-lk-tabs #tabs .resp-tabs-list li.resp-content-active {
  display: block;
  border-bottom: none;
  background-color: #fff;
}
.main-wrapper-lk-tabs #tabs .resp-tabs-container {
  padding: 0 30px;
  background-color: #fff;
  clear: left;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content {
  display: none;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .resp-accordion-active {
  display: none;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .tab_identifier_child {
  justify-content: flex-start;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .tab_identifier_child.resp-tabs-list {
  padding: 0 0 20px 0;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .tab_identifier_child.resp-tabs-container {
  padding: unset;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .portfolio-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 27px;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .portfolio-item {
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  max-width: 345px;
  cursor: pointer;
  font-family: var(--font-family);
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .portfolio-item .addPortfolio {
  width: 100%;
  border: 2px solid #BCBCBC;
  border-radius: 20px;
  background: linear-gradient(#BCBCBC, #BCBCBC), linear-gradient(#BCBCBC, #BCBCBC);
  background-position: center;
  background-size: 50% 2px, 2px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat: no-repeat;
  cursor: pointer;
  height: 280px;
}
@media (hover: hover) {
  .main-wrapper-lk-tabs #tabs .resp-tab-content .portfolio-item:hover {
    transition: all 0.3s;
    scale: 1.01;
  }
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .portfolio-item .img {
  height: 280px;
  width: 100%;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .portfolio-item .img img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .portfolio-item .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  color: #1F1F1F;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .portfolio-item .date {
  font-weight: 400;
  font-size: 16px;
  color: #787878;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .activities-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 27px;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .activities-item {
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  max-width: 345px;
  cursor: pointer;
  font-family: var(--font-family);
}
@media (hover: hover) {
  .main-wrapper-lk-tabs #tabs .resp-tab-content .activities-item:hover {
    transition: all 0.3s;
    scale: 1.01;
  }
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .activities-item .img {
  height: 280px;
  width: 100%;
  position: relative;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .activities-item .img .status {
  position: absolute;
  bottom: 20px;
  left: 15px;
  border-radius: 6px;
  padding: 5px 10px;
  height: 21px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .activities-item .img .status.soon {
  background: #12D319;
  color: #dbf8dd;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .activities-item .img .status.near {
  background: #F84023;
  color: #dbf8dd;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .activities-item .img .status.end {
  background: #e5e5e5;
  color: #66371a;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .activities-item .img .status.end svg circle {
  fill: #66371a;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .activities-item .img img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .activities-item .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  color: #1F1F1F;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .activities-item .date {
  font-weight: 400;
  font-size: 16px;
  color: #787878;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .favorites {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-rows: 170px;
  gap: 27px;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .favorites .favorite {
  background: #ececec;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .favorites .favorite-inner.top {
  display: grid;
  grid-template-columns: 1fr 30px;
  align-items: start;
  grid-template-rows: repeat(2, auto);
  font-weight: 500;
  gap: 8px;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .favorites .favorite-inner.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .favorites .favorite-inner .name {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 110%;
  color: #1F1F1F;
  grid-area: 1/1/2/2;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .favorites .favorite-inner .desc {
  font-family: var(--font-family);
  font-size: 12px;
  text-decoration-skip-ink: none;
  color: #BCBCBC;
  grid-area: 2/1/3/2;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .favorites .favorite-inner .btn-icon {
  grid-area: 1/2/3/3;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .favorites .favorite-inner .btn-icon button.icon {
  cursor: pointer;
  border: none;
  background: #ececec;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .favorites .favorite-inner .btn-icon button.icon svg path {
  transition: all 0.2s;
  fill: #ececec;
  stroke: #787878;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .favorites .favorite-inner .btn-icon button.icon.active svg path {
  transition: all 0.2s;
  fill: #F77F5E;
  stroke: #F77F5E;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .favorites .favorite-inner .city {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  color: #787878;
}
.main-wrapper-lk-tabs #tabs .resp-tab-content .favorites .favorite-inner .more {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: right;
  color: #080213;
}
.main-wrapper .information .form-fields {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.main-wrapper .information .form-fields-group {
  width: 100%;
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.main-wrapper .information .form-fields-group-title {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -0.05em;
  color: #1F1F1F;
}
.main-wrapper .information .form-fields-group-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #787878;
  margin-bottom: 5px;
}
.main-wrapper .information .form-fields-group .text-field {
  border-bottom: 1px solid #BCBCBC;
}
.main-wrapper .information .form-fields-group .text-field__input {
  height: 41px;
  border: unset;
  text-align: right;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: -0.03em;
  text-align: right;
  color: #1F1F1F;
  padding-right: 0;
}
.main-wrapper.edit .information {
  padding: 27px;
  max-width: 1500px;
  width: 100%;
  float: right;
}
.main-wrapper.edit .information .form-fields {
  gap: 140px;
}
.main-wrapper.edit .information .form-fields-group .text-field {
  margin-top: unset;
}
.main-wrapper-events {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0 20px;
}
.main-wrapper-events .title {
  padding-top: 40px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 60px;
  text-align: center;
  color: #1F1F1F;
  line-height: 100%;
}
.main-wrapper-events .events {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.main-wrapper-events .events-filter .form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-content: center;
}
.main-wrapper-events .events-filter .form .checkbox-btn span {
  border-radius: 39px;
  color: #1F1F1F;
  border-color: #1F1F1F;
}
.main-wrapper-events .events-filter .form .checkbox-btn input[type=checkbox]:checked + span {
  border-color: #F77F5E;
  color: #ffffff;
}
.main-wrapper-events .events-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(291px, 1fr));
  gap: 27px;
}
.main-wrapper-events .events-item {
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  max-width: 345px;
  cursor: pointer;
  font-family: var(--font-family);
}
@media (hover: hover) {
  .main-wrapper-events .events-item:hover {
    transition: all 0.3s;
    scale: 1.01;
  }
}
.main-wrapper-events .events-item .img {
  height: 280px;
  width: 100%;
  position: relative;
}
.main-wrapper-events .events-item .img .status {
  position: absolute;
  bottom: 20px;
  left: 15px;
  border-radius: 6px;
  padding: 5px 10px;
  height: 21px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
}
.main-wrapper-events .events-item .img .status.soon {
  background: #12D319;
  color: #dbf8dd;
}
.main-wrapper-events .events-item .img .status.near {
  background: #F84023;
  color: #dbf8dd;
}
.main-wrapper-events .events-item .img .status.end {
  background: #e5e5e5;
  color: #66371a;
}
.main-wrapper-events .events-item .img .status.end svg circle {
  fill: #66371a;
}
.main-wrapper-events .events-item .img img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-wrapper-events .events-item .author {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 2px;
}
.main-wrapper-events .events-item .author .img {
  grid-area: 1/1/3/2;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.main-wrapper-events .events-item .author .img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-wrapper-events .events-item .author .name {
  grid-area: 1/2/2/3;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  color: #1F1F1F;
}
.main-wrapper-events .events-item .author .sub-title {
  grid-area: 2/2/3/3;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 11px;
  color: #787878;
}
.main-wrapper-events .events-item .title {
  padding-top: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  color: #1F1F1F;
  text-align: left;
}
.main-wrapper-events .events-item .date {
  font-weight: 400;
  font-size: 16px;
  color: #787878;
  text-align: left;
}
.main-wrapper-event-detail {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 24px 30px;
}
.main-wrapper-event-detail-top {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}
.main-wrapper-event-detail-top-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: self-start;
}
.main-wrapper-event-detail-top-wrapper .title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  letter-spacing: -0.03em;
  color: #1F1F1F;
  line-height: 100%;
}
.main-wrapper-event-detail-top-wrapper .desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #787878;
  line-height: 100%;
}
.main-wrapper-event-detail-top-wrapper .btns {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.main-wrapper-event-detail-top-wrapper .btns .share {
  padding: 5px;
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
}
.main-wrapper-event-detail-top-wrapper .btns .share:hover svg path {
  fill: #fe7062;
}
.main-wrapper-event-detail-top-wrapper .btns .btn-favorite {
  margin-top: 0;
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
}
.main-wrapper-event-detail-top-wrapper .btns .btn-favorite .svg {
  display: block;
}
.main-wrapper-event-detail-top-wrapper .btns .btn-favorite .svg svg {
  width: 30px;
  height: 30px;
}
.main-wrapper-event-detail-characteristic {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.main-wrapper-event-detail-characteristic-item {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.main-wrapper-event-detail-characteristic-item .name {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #787878;
}
.main-wrapper-event-detail-characteristic-item .value {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #080213;
  line-height: 100%;
}
.main-wrapper-event-detail-desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.main-wrapper-event-detail-desc-items {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.main-wrapper-event-detail-desc-items .desc-item-date, .main-wrapper-event-detail-desc-items .desc-item-point, .main-wrapper-event-detail-desc-items .desc-item-bonus {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-wrapper-event-detail-desc-items .desc-item-date .value, .main-wrapper-event-detail-desc-items .desc-item-point .value, .main-wrapper-event-detail-desc-items .desc-item-bonus .value {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  color: #1F1F1F;
}
.main-wrapper-event-detail-desc-items .desc-item-date .name, .main-wrapper-event-detail-desc-items .desc-item-point .name, .main-wrapper-event-detail-desc-items .desc-item-bonus .name {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
  color: #787878;
}
.main-wrapper-event-detail-desc-about {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-wrapper-event-detail-desc-about .title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 30px;
  line-height: 110%;
  color: #1F1F1F;
}
.main-wrapper-event-detail-desc-about .text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
  color: #787878;
}
.main-wrapper-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 0 20px;
}
.main-wrapper-works .title {
  padding-top: 40px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 60px;
  text-align: center;
  color: #1F1F1F;
  line-height: 100%;
}
.main-wrapper-works .sub-title {
  max-width: 500px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.05em;
  text-align: center;
  color: #787878;
}
.main-wrapper-works .works {
  width: 100%;
  padding-top: 34px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.main-wrapper-works .works-filter {
  width: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
}
.main-wrapper-works .works-filter .form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  overflow: auto;
  width: 100%;
}
.main-wrapper-works .works-filter .form .select2-container {
  width: 100% !important;
}
.main-wrapper-works .works-filter .form .select2-container--default .select2-selection--single {
  border: 1px solid #1F1F1F;
  border-radius: 39px;
  padding: 16px 25px 13px 25px;
  width: fit-content;
  height: 51px;
}
.main-wrapper-works .works-filter .form .select2-container--default .select2-selection--single .select2-selection__rendered {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: #1F1F1F;
}
.main-wrapper-works .works-filter .form .select2-container--open .select2-selection--single {
  border: 1px solid #F77F5E !important;
  background: #F77F5E;
}
.main-wrapper-works .works-filter .form .select2-container--open .select2-selection--single .select2-selection__rendered {
  color: #ffffff;
}
.main-wrapper-works .works-filter .form .select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: unset;
  padding-right: 10px;
  line-height: 100%;
}
.main-wrapper-works .works-filter .form .select2-selection__arrow {
  top: 11px;
  right: 10px;
}
.main-wrapper-works .works-filter .form .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #fff transparent;
}
.main-wrapper-works .works-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 27px;
}
.main-wrapper-works .works-item {
  background: #ececec;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  gap: 43px;
}
.main-wrapper-works .works-item-inner.top {
  display: grid;
  grid-template-columns: 1fr 30px;
  align-items: start;
  font-weight: 500;
  grid-template-rows: repeat(3, auto);
  gap: 8px;
}
.main-wrapper-works .works-item-inner.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-wrapper-works .works-item-inner .name {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 100%;
  color: #1F1F1F;
  grid-area: 1/1/2/2;
}
.main-wrapper-works .works-item-inner .desc {
  font-family: var(--font-family);
  font-size: 12px;
  text-decoration-skip-ink: none;
  color: #BCBCBC;
  grid-area: 2/1/3/2;
  line-height: 100%;
}
.main-wrapper-works .works-item-inner .working {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  letter-spacing: -0.05em;
  color: #787878;
  grid-area: 3/1/4/2;
  line-height: 100%;
}
.main-wrapper-works .works-item-inner .btn-icon {
  grid-area: 1/2/4/3;
}
.main-wrapper-works .works-item-inner .btn-icon button.icon {
  cursor: pointer;
  border: none;
  background: #ececec;
}
.main-wrapper-works .works-item-inner .btn-icon button.icon svg path {
  transition: all 0.2s;
  fill: #ececec;
  stroke: #787878;
}
.main-wrapper-works .works-item-inner .btn-icon button.icon.active svg path {
  transition: all 0.2s;
  fill: #F77F5E;
  stroke: #F77F5E;
}
.main-wrapper-works .works-item-inner .city {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  color: #787878;
}
.main-wrapper-works .works-item-inner .more {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: right;
  color: #080213;
}

@media (max-width: 1024px) {
  .main-wrapper-lk-tabs #tabs .resp-tabs-container {
    padding: 40px 30px;
  }
  .main-wrapper-lk-tabs #tabs .resp-tab-content .portfolio-items {
    gap: 14px;
  }
  .main-wrapper-lk-tabs #tabs .resp-tab-content .portfolio-item {
    max-width: 304px;
  }
  .main-wrapper .information .form-fields {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .main-wrapper.edit .information .form-fields {
    flex-direction: column-reverse;
    gap: 24px;
  }
  .main-wrapper-events .title {
    font-size: 40px;
  }
  .main-wrapper-works .title {
    font-size: 40px;
  }
  .main-wrapper-event-detail-top-wrapper .title {
    font-size: 30px;
  }
  .main-wrapper-event-detail-top-wrapper .desc {
    font-size: 15px;
  }
  .main-wrapper-event-detail-characteristic-item .name {
    font-size: 15px;
  }
  .main-wrapper-event-detail-characteristic-item .value {
    font-size: 15px;
  }
  .main-wrapper-event-detail-desc {
    grid-template-columns: 1fr;
  }
  .main-wrapper-event-detail-desc-items {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .main-wrapper-event-detail-desc-items .desc-item-date .value, .main-wrapper-event-detail-desc-items .desc-item-point .value, .main-wrapper-event-detail-desc-items .desc-item-bonus .value {
    font-size: 24px;
  }
  .main-wrapper-event-detail-desc-items .desc-item-date .name, .main-wrapper-event-detail-desc-items .desc-item-point .name, .main-wrapper-event-detail-desc-items .desc-item-bonus .name {
    font-size: 15px;
  }
  .main-wrapper-event-detail-desc-about .title {
    font-size: 24px;
  }
  .main-wrapper-event-detail-desc-about .text {
    font-size: 15px;
  }
}
@media (max-width: 900px) {
  .main-wrapper-form .form {
    padding: 70px;
  }
  .main-wrapper-lk-top-inner .name-and-score .name {
    font-size: 30px;
  }
  .main-wrapper-lk-tabs #tabs .resp-tabs-container {
    padding: 40px 30px;
  }
  .main-wrapper-lk-tabs #tabs .resp-tab-content .portfolio-items {
    gap: 14px;
  }
  .main-wrapper-lk-tabs #tabs .resp-tab-content .portfolio-item {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .main-wrapper-lk-top-inner .name-and-score .name {
    font-size: 24px;
  }
}
@media (max-width: 650px) {
  .main-wrapper-form .form {
    padding: 45px;
  }
  .main-wrapper-form .form-title {
    font-size: 24px;
  }
  .main-wrapper-form .form .btn {
    width: fit-content;
    height: 69px;
  }
  .main-wrapper-form .footer-form {
    display: grid;
    grid-template-columns: 1fr;
  }
  .main-wrapper-form .footer-form-inner:last-child {
    border-left: unset;
  }
  .main-wrapper-lk-top-wrapper {
    width: 100%;
    grid-template-columns: 1fr 120px 1fr;
    padding: 20px 20px;
    height: 160px;
  }
  .main-wrapper-lk-top-mobi {
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding: 16px 20px 24px;
  }
  .main-wrapper-lk-top-mobi .name {
    font-family: "Gotham Pro", sans-serif;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: -0.03em;
    color: #1F1F1F;
  }
  .main-wrapper-lk-top-mobi .status {
    font-family: "Gotham Pro", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.03em;
    color: #787878;
  }
  .main-wrapper-lk-top-mobi .edit .btn {
    width: 100%;
    height: 50px;
    font-size: 15px;
    color: #787878;
    border-color: #787878;
  }
  .main-wrapper-lk-top-inner .name-and-score {
    justify-content: flex-end;
  }
  .main-wrapper-lk-top-inner .name-and-score .name {
    display: none;
  }
  .main-wrapper-lk-top-inner .name-and-score .score {
    font-size: 16px;
  }
  .main-wrapper-lk-top-inner .profile-img .favorite {
    width: 25px;
    height: 25px;
    right: -5px;
  }
  .main-wrapper-lk-top-inner .profile-img .favorite svg {
    width: 12px;
    height: 13px;
  }
  .main-wrapper-lk-top-inner .status-and-edit {
    display: none;
  }
  .main-wrapper-lk-tabs #tabs .resp-tabs-list {
    padding: 10px 20px;
    border-bottom: 1px solid #BCBCBC;
    border-top: 1px solid #BCBCBC;
    justify-content: flex-start;
  }
  .main-wrapper-lk-tabs #tabs .resp-tabs-list.tab_identifier_child {
    border-bottom: none;
    border-top: none;
  }
  .main-wrapper-lk-tabs #tabs .resp-tabs-list::-webkit-scrollbar {
    display: none;
  }
  .main-wrapper-lk-tabs #tabs .resp-tabs-container {
    padding: 40px 20px;
  }
  .main-wrapper.edit .main-wrapper-lk-top .main-wrapper-lk-top-wrapper {
    grid-template-columns: 1fr;
  }
  .main-wrapper.edit .main-wrapper-lk-top .main-wrapper-lk-top-inner .name-and-score .name {
    display: block;
  }
  .main-wrapper-events .title {
    font-size: 30px;
  }
  .main-wrapper-works {
    padding: 0 10px;
  }
  .main-wrapper-works .title {
    font-size: 30px;
  }
  .main-wrapper-works .works {
    gap: 32px;
  }
  .main-wrapper-event-detail {
    position: relative;
    padding-bottom: 60px;
  }
  .main-wrapper-event-detail-top-wrapper .title {
    font-size: 24px;
  }
  .main-wrapper-event-detail-top-wrapper .desc {
    font-size: 12px;
  }
  .main-wrapper-event-detail-top-wrapper .btns {
    position: fixed;
    bottom: 0;
    font-size: 15px;
    width: 100%;
    left: 0;
    justify-content: center;
    padding: 10px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 7px;
    grid-row-gap: 0;
    justify-items: center;
  }
  .main-wrapper-event-detail-top-wrapper .btns .share {
    grid-area: 1/1/2/2;
  }
  .main-wrapper-event-detail-top-wrapper .btns .btn-favorite {
    grid-area: 1/3/2/4;
  }
  .main-wrapper-event-detail-top-wrapper .btns .sign {
    padding: 15px 22px;
    font-size: 14px;
    grid-area: 1/2/2/3;
  }
  .main-wrapper-event-detail-characteristic-item .name {
    font-size: 13px;
  }
  .main-wrapper-event-detail-characteristic-item .value {
    font-size: 13px;
  }
  .main-wrapper-event-detail-desc-items .desc-item-date .value, .main-wrapper-event-detail-desc-items .desc-item-point .value, .main-wrapper-event-detail-desc-items .desc-item-bonus .value {
    font-size: 18px;
  }
  .main-wrapper-event-detail-desc-items .desc-item-date .name, .main-wrapper-event-detail-desc-items .desc-item-point .name, .main-wrapper-event-detail-desc-items .desc-item-bonus .name {
    font-size: 12px;
  }
  .main-wrapper-event-detail-desc-about .title {
    font-size: 18px;
  }
  .main-wrapper-event-detail-desc-about .text {
    font-size: 12px;
  }
}
@media (max-width: 425px) {
  .main-wrapper-lk-top-wrapper {
    width: 100%;
    grid-template-columns: 1fr 100px 1fr;
    height: 160px;
  }
  .main-wrapper-lk-top-inner.center {
    justify-content: flex-end;
  }
  .main-wrapper-lk-top-inner .name-and-score {
    justify-content: flex-end;
  }
  .main-wrapper-lk-top-inner .name-and-score .score {
    font-size: 14px;
  }
  .main-wrapper-event-detail-top-wrapper .title {
    font-size: 30px;
  }
  .main-wrapper-event-detail-top-wrapper .desc {
    font-size: 15px;
  }
  .main-wrapper-event-detail-characteristic-item .name {
    font-size: 13px;
  }
  .main-wrapper-event-detail-characteristic-item .value {
    font-size: 13px;
  }
  .main-wrapper-event-detail-desc {
    grid-template-columns: 1fr;
  }
  .main-wrapper-event-detail-desc-items {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .main-wrapper-event-detail-desc-items .desc-item-date .value, .main-wrapper-event-detail-desc-items .desc-item-point .value, .main-wrapper-event-detail-desc-items .desc-item-bonus .value {
    font-size: 24px;
  }
  .main-wrapper-event-detail-desc-items .desc-item-date .name, .main-wrapper-event-detail-desc-items .desc-item-point .name, .main-wrapper-event-detail-desc-items .desc-item-bonus .name {
    font-size: 15px;
  }
  .main-wrapper-event-detail-desc-about .title {
    font-size: 24px;
  }
  .main-wrapper-event-detail-desc-about .text {
    font-size: 15px;
  }
  .main-wrapper-event-detail {
    padding: 24px 20px 60px;
  }
  .main-wrapper-event-detail-top-wrapper .title {
    font-size: 20px;
  }
  .main-wrapper-event-detail-top-wrapper .desc {
    font-size: 12px;
  }
  .main-wrapper-event-detail-desc-items .desc-item-date .value, .main-wrapper-event-detail-desc-items .desc-item-point .value, .main-wrapper-event-detail-desc-items .desc-item-bonus .value {
    font-size: 16px;
  }
  .main-wrapper-event-detail-desc-items .desc-item-date .name, .main-wrapper-event-detail-desc-items .desc-item-point .name, .main-wrapper-event-detail-desc-items .desc-item-bonus .name {
    font-size: 12px;
  }
  .main-wrapper-event-detail-desc-about .title {
    font-size: 16px;
  }
  .main-wrapper-event-detail-desc-about .text {
    font-size: 12px;
  }
}
@media (max-width: 380px) {
  .main-wrapper-lk-top-wrapper {
    width: 100%;
    grid-template-columns: 1fr 100px;
    height: 160px;
  }
  .main-wrapper-lk-top-inner.right {
    display: none;
  }
  .main-wrapper-lk-top-inner .name-and-score {
    justify-content: flex-end;
  }
  .main-wrapper-lk-top-inner .name-and-score .name {
    display: none;
  }
  .main-wrapper-lk-top-inner .name-and-score .score {
    font-size: 14px;
  }
  .main-wrapper-lk-top-inner .profile-img {
    justify-content: flex-end;
  }
}
* {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  min-width: 320px;
  font-size: 16px;
  line-height: 1.6;
  font-weight: normal;
  font-family: "Gotham Pro", sans-serif;
  margin: 0;
  height: 100%;
  min-height: 100%;
}

input[type=submit] {
  font-family: "Gotham Pro", sans-serif;
}

.clearfix {
  clear: both;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.center-position {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.all {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  min-height: 100%;
  width: 100%;
  min-width: 320px;
  position: relative;
  background-color: #FFFFFF;
  justify-content: flex-start;
}
.all.center {
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #0F3C73;
}

.link {
  color: #0F3C73;
}
.link:hover {
  color: #005FD2;
  text-decoration-line: underline;
}

p {
  padding: 0 0 12px 0;
  margin: 0;
  word-wrap: break-word;
}

img {
  max-width: 100%;
}

button {
  font-size: 16px;
  font-family: "Gotham Pro", sans-serif;
}

h1, .h1 {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 500;
  font-size: 60px;
  color: #484848;
}

h2, .h2 {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #484848;
}

h3, .h3 {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 110%;
  color: #484848;
}

h5, .h5 {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  color: #484848;
}

.btn {
  transition: all 0.1s;
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  border: unset;
  background: linear-gradient(218deg, #fe7062 0%, #ff928e 100%);
  color: #ffffff;
  gap: 27px;
  letter-spacing: 0;
  cursor: pointer;
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 14px 41px;
  height: 51px;
  z-index: 1;
}
.btn:before {
  border-radius: 10px;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all 0.1s linear;
  opacity: 0;
  background: #cb5a4e;
}
@media (hover: hover) {
  .btn:hover::before {
    transition: all 0.1s linear;
    opacity: 1;
  }
}
.btn-transparent {
  background: transparent;
  border: 1px solid #FFFFFF;
}
.btn-favorite {
  border-radius: 7px;
  padding: 6px 11px;
  background: #DDDDDD;
  gap: 5px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  color: #787878;
  height: 42px;
  transition: all 0.2s linear;
  margin-top: 8px;
}
.btn-favorite .svg {
  display: contents;
}
.btn-favorite .svg svg path {
  transition: all 0.2s linear;
  fill: #DDDDDD;
  stroke: #787878;
  stroke-width: 2px;
}
.btn-favorite.active {
  color: #F77F5E;
}
.btn-favorite.active .svg svg path {
  transition: all 0.2s linear;
  fill: #F77F5E;
  stroke: none;
}
.btn-favorite:before {
  border-radius: 7px;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all 0.1s linear;
  opacity: 0;
  background: #c9c9c9;
}
@media (hover: hover) {
  .btn-favorite:hover .svg svg path {
    transition: all 0.2s linear;
    fill: #c9c9c9;
  }
  .btn-favorite:hover.active .svg svg path {
    transition: all 0.2s linear;
    fill: #F77F5E;
    stroke: none;
  }
}
.btn.dense {
  padding: 14px 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* стили для label */
  /* стили для input */
  /* стили при наведении курсора на checkbox */
  /* стили для активного состояния чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled и checked */
  /* стили для чекбокса, находящегося в состоянии disabled и не checked */
  /* Checked */
  /* Hover */
  /* Disabled */
  /* Checked */
  /* Focus */
  /* Hover */
  /* Active */
  /* Disabled */
  /* Focus */
  /* Hover/active */
  /* Disabled */
}
form .form-title {
  font-style: normal;
  line-height: 120%;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #1A59AE;
}
form .text-field__label {
  display: block;
  transition: all 0.25s ease-out;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #787878;
}
form .text-field {
  margin-top: 16px;
}
form .text-field:first-child {
  margin-top: unset;
}
form .text-field.label {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-top: 16px;
  gap: 8px;
}
form .text-field.img-field {
  border-bottom: unset !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 15px;
}
form .text-field.img-field .img {
  max-width: 170px;
  max-height: 170px;
  width: 100%;
  height: 100%;
}
form .text-field.img-field .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
form .text-field.img-field .img-field-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}
@media (max-width: 650px) {
  form .text-field.label {
    display: grid;
    align-items: center;
    margin-top: 16px;
    gap: 8px;
  }
}
form .text-field__input {
  display: block;
  font-family: inherit;
  color: #424242;
  background-color: #ffffff;
  background-clip: padding-box;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  transition: all 0.25s ease-out;
  white-space: break-spaces;
  position: relative;
  border: 1px solid #BCBCBC;
  border-radius: 15px;
  padding: 10px 30px;
  height: 65px;
  width: 100%;
}
form .text-field:has(.text-field__area) {
  border-bottom: unset !important;
}
form .text-field__area {
  margin-top: 10px;
  min-height: 157px;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  color: #424242;
  background-color: #F5F7F9;
  background-clip: padding-box;
  border: 1px solid #F5F7F9;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  transition: all 0.25s ease-out;
  white-space: break-spaces;
  resize: none;
  outline: none;
  height: auto;
  overflow: hidden;
  border-radius: 20px;
}
form .text-field__input::placeholder, form .text-field__area::placeholder {
  color: #BCBDC0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  position: relative;
}
form .text-field__input:focus, form .text-field__area:focus {
  background-color: #f3f3f3;
  transition: all 0.25s ease-out;
}
form .checkbox-field {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
form .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
form .custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
form .custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #939598;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 67% 67%;
  transition: all 0.15s ease-out;
}
form .custom-checkbox:checked + label::before {
  transition: all 0.15s ease-out;
  border-color: #0F3C73;
  background-color: #0F3C73;
  background-image: url("/img/checkbox.svg");
}
form .custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  transition: all 0.15s ease-out;
  border-color: #005FD2;
  background-color: #E2EDF8;
}
form .custom-checkbox:not(:disabled):active + label::before {
  transition: all 0.15s ease-out;
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
form .custom-checkbox:checked:disabled + label::before {
  transition: all 0.15s ease-out;
  border-color: #BCBDC0;
  background-color: #BCBDC0;
}
form .custom-checkbox:not(:checked):disabled + label::before {
  transition: all 0.15s ease-out;
  border-color: #EAEAEA;
  background-color: #F5F7F9;
}
form .form_radio_group {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-end;
}
form .form_radio_group-item {
  display: inline-block;
  float: left;
}
form .form_radio_group input[type=radio] {
  display: none;
}
form .form_radio_group label {
  display: inline-block;
  cursor: pointer;
  padding: 4px 12px;
  border-right: none;
  user-select: none;
}
form .form_radio_group .form_radio_group-item:first-child label {
  border-radius: 6px 0 0 6px;
}
form .form_radio_group .form_radio_group-item:last-child label {
  border-radius: 0 6px 6px 0;
}
form .form_radio_group input[type=radio]:checked + label {
  background: #F77F5E;
  color: #ffffff;
}
form .form_radio_group label:hover {
  color: #666;
}
form .form_radio_group input[type=radio]:disabled + label {
  background: #efefef;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  text-align: right;
}
form .checkbox-btn {
  display: inline-block;
  margin: 0 5px 0 0;
  user-select: none;
  position: relative;
}
form .checkbox-btn input[type=checkbox] {
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}
form .checkbox-btn span {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #999;
  transition: background 0.2s ease;
  border: 1px solid #BCBCBC;
  border-radius: 8px;
  padding: 15px 30px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  color: #BCBCBC;
}
form .checkbox-btn input[type=checkbox]:checked + span {
  background: #F77F5E;
  color: #FFFFFF;
}
form .focused span {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
form .checkbox-btn:hover {
  color: #666;
}
form .checkbox-btn input[type=checkbox]:active:not(:disabled) + span {
  background: #d2c5ac;
  color: #000;
}
form .checkbox-btn input[type=checkbox]:disabled + span {
  background: #efefef;
  color: #666;
  cursor: default;
}
form .checkbox-btn input[type=checkbox]:checked:disabled + span {
  background: #f7efdc;
}
form .input-file {
  position: relative;
  display: inline-block;
}
form .input-file span {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  vertical-align: middle;
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 4px;
  background: #F77F5E;
  line-height: 22px;
  height: 100%;
  min-height: 45px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  margin: 0;
  transition: background-color 0.2s;
}
form .input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}
form .input-file input[type=file]:focus + span {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
form .input-file:hover span {
  background: #cb5a4e;
}
form .input-file:active span {
  background: #cb5a4e;
}
form .input-file input[type=file]:disabled + span {
  background-color: #eee;
}

.select2-container--open .select2-dropdown--below {
  margin-top: 5px;
  border-radius: 15px !important;
  border: 1px solid #F77F5E !important;
  background: #F77F5E;
}

.select2-results__option--selectable {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  height: 35px;
  padding: 12px 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
}
.select2-results__option--selectable:first-child {
  border-bottom: unset;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}
.select2-results__option--selectable:last-child {
  border-bottom: unset;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #dc5029 !important;
}

.select2-container--default .select2-results__option--selected {
  background-color: #dc5029 !important;
}

/*# sourceMappingURL=style.css.map */
